<!DOCTYPE html>
<head>

</head>
<body>
        <form action="/buscarUsuario" method="POST">
                <input type="text" name="nombre">
                <button type="submit">Buscar</button>
        </form>        
        <table style="border: 1px solid;">
                <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>email</th>
                        <th>ubicacion</th>
                        <th>Eliminar</th>
                </tr>                                
                <%rpt.forEach(item=>{%>

                <tr>
                        <td><%=item.idUsuario%></td>
                        <td><%=item.Nombre%></td>
                        <td><%=item.correo%></td>
                        <td><%=item.Ubicacion%></td>
                        <td>
                                <form action="/eliminarUsuario" method="post">
                                        <input type="hidden" name="id" value="<%=item.idUsuario%>">
                                        <button type="submit">eliminar</button>
                                </form>
                        </td>
                </tr>
                <%});%>
        </table>                                                                               
        

        <br>
        <br>
        <br>
        <br>
        <form action="/AgregarUsuario" method="post" style="border: solid;">
                <h2>Agregar Usuario</h2>
                <label for="">Nombre</label>
                <input type="text" name="nombre"><br>
                <label for="">correo</label>
                <input type="text" name="correo"><br>
                <label for="">ubicacion</label>
                <input type="text" name="ubicacion"><br>
                <button type="submit">agregar</button>
        </form>

        <form action="/ActualizarUsuario" method="post" style="border: solid;">
                <h2>Actualizar Usuario</h2>
                <label for="">id Usuario</label>
                <input type="text" name="id">
                <label for="">Nombre</label>
                <input type="text" name="nombre"><br>
                <label for="">correo</label>
                <input type="text" name="correo"><br>
                <label for="">ubicacion</label>
                <input type="text" name="ubicacion"><br>
                <button type="submit">agregar</button>
        </form>



</body>
</html>